<div class = "white-text m-3">
  <h5>AVAILABLE ROOMS</h5>
</div>
<% @rooms.each do |room| %>
    <div class="card-product m-3">
      <%= image_tag room.image%>
      <div class="card-product-infos">
        <h5> <strong> <%= room.hotel.name %></strong></h5>
        <p>price:  <strong><%= room.price_per_night %>Є</strong></p>
        <p>capacity: <strong><%= room.capacity %> People</strong></p>
        <a href="<%= room_path(room) %>" class="btn btn-primary">View Details</a>
      </div>
    </div>
<% end %>
